
/*estilos del home*/
// import de variables
@import "utilidades/_variables";
//import de mixin
@import "utilidades/mixin";
// import del home
@import "utilidades/_home";
//import de vandal
@import "utilidades/vandal";
//import de phantom
@import "utilidades/phantom";
//import de operator
@import "utilidades/operator";
//import de sheriff
@import "utilidades/sheriff";
//import de mediaquery
@import "utilidades/mediaquery";
//nesting + mixin aportes
.aportes{
    background: radial-gradient($color_principal, black);
    height: 100vh;
    color: $color-principal;
    .formulario{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 250px;
        background: white;
        border-radius: 10px;
        background-image: url(https://i.redd.it/iyaacpwpwfr41.png);
        h1{
            text-align: center;
            padding: 0 0 20px 0;
            border-bottom: 1px solid silver;
        }
    }
    .username{
        padding: 10px 0 10px 10px;
    }
    .iniciar{
        @include padding
    }
    .registrarse{
        @include padding
    }
    .volver{
        @include padding
    }
}
.iniciar input:hover{
    background-color: black;
    color: white;
    height: 50px;
    transition-duration: 1s;
}