//nesting
.aportes{
    background: linear-gradient(150deg, red, black);
    height: 100vh;
    color: $color-principal;
    .formulario{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 250px;
        background: white;
        border-radius: 10px;
        background-image: url(https://i.redd.it/iyaacpwpwfr41.png);
        h1{
            text-align: center;
            padding: 0 0 20px 0;
            border-bottom: 1px solid silver;
        }
    }
    .username{
        padding: 10px 0 10px 10px;
    }
    .iniciar{
        padding: 0 0 10px 10px;
    }
    .registrarse{
        padding: 0 0 10px 10px;
    }
    .volver{
        padding: 0 0 10px 10px;
    }
    
}